*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




body{
    background: url('../public/image/backgorund/my.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 480px) {
  #js,#java,#html,#css,#spring,#react,#laravel{
    width: 55px;
  }
}
